/* properties for footer */
.footer_wrapper {
  background: black;
}

hr {
  margin: 0;
  border: solid grey 0.5px;
}

.footer {
  color: grey;
  padding: 30px 0;
}

.footer_span {
  display: flex;
  flex-flow: column;
}


@media (min-width: 768px) {

  /* properties for footer */

  .footer {
    display: flex;
    flex-flow: row;
  }

}
